html {
    margin: 0;
    padding: 0;

    font-family: monospace;
    background-repeat: repeat;
}

/* TODO: responsiveness for <500px only*/

body {
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}

.logo-container {
    margin-bottom: 1rem;
}

.logo {
    display: block;

    object-fit: contain;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;

        max-height: 100px;
        object-fit: cover;
    }
}

nav {
    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 0.5rem 0;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }

            span {
                font-weight: bold;

                &::before {
                    content: '> ';
                }

                &::after {
                    content: ' <';
                }
            }
        }
    }
}

aside {
    background-color: #f0f0f0;
    flex: 160;
    word-wrap: unset;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    padding: 10px;
    width: 10em;
}

main {
    flex: 640;
    padding: 10px;
}

footer {
    margin-top: 3em;
    padding: .5rem 0;
    text-align: center;
    width: 100%;
    background-color: #f0f0f0;
}

section {
    padding: .8rem .5rem;
}

.centered {
    width: 100%;
    text-align: center;
}

p {
    text-indent: 1rem;
}

#blog-entries {
    &>table {
        margin: auto;
        width: 80%;
        table-layout: fixed;
        text-align: center;

        border-collapse: collapse;

        & tr {
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #0a0a0a;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #0a0a0a;
        }

        &>tbody>tr>td {
            padding: .5rem;
        }
    }
}

div.image-container {
    margin: 1.5em auto;
    text-align: center;
}

.art-by {
    display: block;
}
