html {
    margin: 0;
    padding: 0;

    background-attachment: fixed;
    background-repeat: repeat;

    --font-size: 18px;
    font-size: var(--font-size);

    --accent: magenta;
    --secondary: cyan;
    --dark: #643A71;
    --light: #fff3e5;

    color: var(--dark);

    --main-width: 80%;
    --sidebar-width: 20%;
    --top-icon-size: calc(var(--font-size) * 3.5);
}

a {
    color: blue;
}

@media (max-width: 1000px) {
    html {
        --main-width: 100%;
        --font-size: 16px;
    }
}

@media (max-width: 700px) {
    html {
        --font-size: 14px;
    }
}

@media (max-width: 500px) {
    html {
        --font-size: 12px;
    }

    a.big-button span {
        display: none;
    }
}

/* TODO: responsiveness for <500px only*/

body {
    min-width: 500px;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer'
    ;

    justify-content: center;

    column-gap: 10px;
    row-gap: 25px;

    grid-template-columns: var(--sidebar-width) calc(var(--main-width) - var(--sidebar-width));

    &>* {
        border: .4rem solid var(--accent);
        border-radius: 1rem;

        background-color: rgba(255, 255, 255, .6);
    }
}

header {
    grid-area: header;
}

@keyframes link-hover {
    0% {
        content: ' - ';
    }

    25% {
        content: ' \\ ';
    }

    50% {
        content: ' | ';
    }

    75% {
        content: ' / ';
    }

    100% {
        content: ' - ';
    }
}

nav.top-nav {
    width: 100%;
    display: flex;

    background-color: rgba(0, 0, 0, .15);
    color: var(--dark);

    justify-content: stretch;

    border-bottom: 1px solid var(--dark);

    a {
        font-family: monospace;

        display: block;
        flex: 1;
        text-align: center;

        padding: 1rem .5rem;

        text-transform: uppercase;
        text-decoration: none;

        &.active {
            background-color: var(--accent);
            color: white;

            pointer-events: none;

            &::before {
                animation: link-hover 1s ease-out;
                content: '';
            }

            &::after {
                animation: link-hover 1s ease-out;
                content: '';
            }
        }

        &:hover {
            color: var(--dark);
            background-color: var(--light);
            font-weight: bold;

            &::after {
                content: ' ';
                animation: link-hover .2s linear infinite;
            }

            &::before {
                content: ' ';
                animation: link-hover .2s linear infinite;
            }
        }
    }
}

aside {
    display: flex;
    flex-direction: column;

    align-items: stretch;
}

nav.sidebar {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    &>* {
        width: 90%;
    }
}

.logo-container {
    grid-area: logo;

    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    & img {
        height: 160px;
    }
}

.logo {
    display: block;

    object-fit: contain;
    overflow: hidden;

    img {
        height: 128px;
    }
}

.sidebar a {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border: solid transparent;

    font-size: calc(var(--font-size) * 0.8);

    padding: .2rem;

    &:hover {
        border-top: solid white;
        border-left: solid white;
        border-right: solid darkgray;
        border-bottom: solid darkgray;
        transform: translate(-2px, -2px);
    }

    &.active, &:active {
        border-top: solid darkgray;
        border-left: solid darkgray;
        border-right: solid white;
        border-bottom: solid white;
        background-color: rgba(0, 0, 0, .1);
        transform: translate(2px, 2px);
    }

    & img {
        height: var(--top-icon-size);
        width: auto;

        object-fit: contain;
    }
}

h1 {
    text-align: center;
    background-clip: text;
    color: rgba(255, 255, 255, .2);
    background-image: linear-gradient(to right, black, var(--accent), black);
    background-repeat: round;
    animation: shimmer 3s linear alternate infinite;
}

@keyframes shimmer {
    0% {
        background-position: -20ch 0;
    }
    100% {
        background-position: 20ch 0;
    }
}

main {
    grid-area: main;
    padding: 10px;
}

footer {
    grid-area: footer;
    padding: .5rem 0;
    text-align: center;
    width: 100%;
    background-color: #f0f0f0;
}

section {
    padding: .8rem .5rem;
}

.centered {
    width: 100%;
    text-align: center;
}

p {
    text-indent: 1rem;
    text-align: justify;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;

    & tr {
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #0a0a0a;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #0a0a0a;
    }

    &>tbody>tr>td {
        padding: .5rem;
    }
}

div.image-container {
    margin: 1.5em auto;
    text-align: center;

    & img {
        min-width: 0;
        max-width: 100%;
    }
}

.art-by {
    display: block;
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, var(--accent), transparent);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

blockquote {
    border-left: 5px solid var(--accent);
    padding-left: 1rem;
    font-style: italic;
    color: black;
}

table.schedule {
    margin: auto;
    width: 60%;

    text-align: center;

    border-collapse: collapse;
    & th {
        border: 1px solid black;
    }
    & td {
        border: 1px solid black;
        font-family:  monospace;
    }
}

td.blog-tags {
    text-align: left;
    word-wrap: break-word;
}

span.blog-tag {
    display: inline-block;
    padding: .1rem .4rem;
    border-radius: .3rem;
    background-color: var(--accent);
    color: var(--secondary);
    font-size: small;
}

span.command {
    font-family: monospace;
    font-weight: bold;
    margin-block: .2rem;

    &:hover {
        background: blue;
        color: white;
    }

}

td>ul {
    margin-block: 0;
    padding-inline-start: 0;
    list-style: none;
}

/* RADIO! */
#radio-player {
    width: 90%;
    margin: auto;

    &>audio {
        width: 100%;
    }
}

/* BLOG! */

#blog-entries {
    font-family: sans-serif;
}

#blog-entries hr {
    margin-top: 2rem;
    margin-bottom: 2rem;

    height: 4px;
}

#blog-entries article {
    padding: 1rem;
}

.article-header {
    border-left: .5rem solid var(--dark);
    padding-left: .3rem;
}

.article-header h2,
.article-header h3 {
    margin-bottom: 1.5rem;
}

.article-header * {
    margin-top: .1rem;
    margin-bottom: .1rem;
}

.article-content {
    margin-top: 1rem;
}

.article-content p {
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.article-content q {
    color: black;
    font-style: italic;
}

.article-footer {
    padding: .5rem;
    border-top: 1px solid #ccc;

    font-size: small;
}

.article-footer ul {
    list-style: square;
}
